<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coding Snippets</title>

</head>

<body>
<!-- this lets us search for snippets by tag -->
  <form class="searchTags" action="/searchtags" method="post">
    <input type="text" name="searchtags" placeholder="Search By Tags">
    <button type="submit" name="button">Search</button>
  </form>

  <!-- this lets us search by language -->
  <form class="searchLanguae" action="/searchlanguage" method="post">
    <input type="text" name="searchlanguage" placeholder="Search By Tags">
    <button type="submit" name="button">Search</button>
  </form>

 <!-- this lets up lookup all the snippets so they are easier to deal with -->
  <a href="/showall/">Show All Nippets</a>
  <div id="formContainer">

    <h1>Code Snippets</h1>

    <form id="submit" action="/" method="post">
      <textarea name="snippetInput" rows="8" cols="80"></textarea>
      <br>
      <h4>Enter a note here </h4>
      <input type="notes" name="notes" placeholder="additional notes">
      <br>
      <h4>Tag your snippet here seperate each tag by a space</h4>

      <input type="tags" name="tags" placeholder="Tags">
      <br>
      <h4>Pick a language</h4>
      <select name="language">
  <option value="javascript">javascript</option>
  <option value="java">java</option>
  <option value="ruby">ruby</option>
  <option value="html">html</option>
  <option value="css">css</option>
  </select>
      <br>
      <h4>Name your snippet</h4>
      <input type="title" name="title" placeholder="Title your Snippet">
      <button type="submit" name="button">Submit</button>
    </form>
<hr>
  </div>

  <div id="snippetContainer">
    {{#theSnippets}}
        <a href="/update/{{_id}}">{{title}}</a>
        <p>{{snippet}}</p>
        <p>{{notes}}</p>
        <p>{{language}}</p>
        <p>{{tags}}</p>
        <form class="delete" action="/delete/{{id}}" method="post">
          <button type="submit" name="delete">Delete</button>
        </form>
    {{/theSnippets}}
  </div>

  <div class="shownSnippts">
    {{#viewSnippets}}
    <a href="/update/{{_id}}">Title: {{title}}</a>
    <p>Snippet :{{snippet}}</p>
    <p>Notes: {{notes}}</p>
    <p>Language: {{language}}</p>
    <p>Tags: {{tags}}</p>
    <form class="delete" action="/delete/{{id}}" method="post">
      <button type="submit" name="delete">Delete</button>
    </form>
    {{/viewSnippets}}
  </div>


</body>

</html>
